.edit-btn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.edit-btn > button {
  color: black;
}
.edit-btn > button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  z-index: -1;
}

.story__card {
  position: relative;
  overflow: hidden;
}
